@import "tailwindcss";

body{
    background: #121213;
}

@tailwind utilities;

/* Custom Minimal Dark Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}

/* Firefox scrollbar support */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}